.modal-stroke__search-history-back {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
}

.modal-stroke__search-history-back.active {
    transform: translateX(0%);
}

.back-black {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.back-black.active {
    visibility: visible;
    opacity: 1;
}

.modal-stroke__search-history-content {
    width: 22rem;
    height: 100%;
    background-color: white;
    border-left: 1px solid #7D7979;
    overflow-x: clip;
    background-size: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.modal-stroke__search-history-main-block-content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.modal-stroke__search-history-block {
    width: 18.125rem;
    height: 2.813rem;
    color: #292920;
    font-size: 1.25rem;
    border: 1px solid #A7A7A7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    transition: background 0.25s ease;
    margin-top: 0.625rem;
}

.modal-stroke__search-history-block span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 15.875rem;
    text-align: center;
} 

.modal-stroke__tags-block:nth-last-of-type(1) {
    margin-bottom: 1.313rem;
}

.modal-stroke__search-history-main-block-content input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
}

.modal-stroke__search-history-main-block-content label:has(input[type=radio]:checked) {
	background: #C3C2C2;
	color: #292920;
}

.modal-stroke__search-history-main-block-content label:has(input[type=radio]:not(:checked)) {
    background: white;
    color: #292920;
}

.modal-stroke__search-history-main-block-content label:has(input[type=radio]:not(:checked)):hover {
	background: #C3C2C2;
	color: #292920;
}

#history-input {
    width: 18.125rem;
    margin-top: 1.67rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #292920;
    outline: none;
    text-align: center;
    font-family: Mltsvfont;
    font-size: 1.25rem;
    margin-bottom: 1.313rem;
}